.form_group {
  position: relative;
  label {
    position: absolute;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.5;
    color: #3f4254;
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background-color: #fff;
    left: 20px;
    top: -16px;
    z-index: 1;
  }
  .astrisk {
    color: #e50f0f;
  }
  input {
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    padding: 20px 30px;
    border: 1px solid #eee;
    font-weight: 500;
    font-size: 14px;
    &.error {
      border: 1px solid #e50f0f;
      color: inherit;
    }
    &::placeholder {
      font-size: 14px;
      line-height: 20px;
      color: #808291;
      font-weight: normal;
      opacity: 0.6;
    }
  }
}
.password_view {
  position: absolute;
  top: calc(50% - 10px);
  right: 20px;
  cursor: pointer;
}
.eye_icons {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.view_participant_btn {
  background-color: rgba(93, 95, 239, 0.1) !important;
  color: #5d5fef !important;
  font-weight: 400 !important;
}

.zodit_editor {
  ul {
    list-style: disc !important;
    li {
      margin-left: 30px;
      padding-left: 10px;
    }
  }
  ol {
    list-style: auto !important;
    margin-left: 30px;
  }
}

.phone_input_wrapper {
  input {
    width: 100% !important;
    border: 1px solid #e1e1e1 !important;
  }
  .react-tel-input .flag-dropdown {
    position: absolute;
    top: 4px !important;
    bottom: 0;
    padding: 0;
    background-color: #f5f5f5;
    border: 1px solid #cacaca;
    border-radius: 3px 0 0 3px;
    height: 35px !important;
  }
}
