html,
body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #484644;
  line-height: 1.6;
}

input[type="date"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="text"],
select,
textarea {
  width: 100%;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

iframe {
  width: 100%;
}

.container {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
}

a {
  color: #0b3a5d;
  &:hover {
    color: #f1583e;
  }
}

canvas {
  max-width: 100%;
  width: 100%;
}
.disabled,
:disabled {
  // background: #eee !important;
  border: 1px solid #eee !important;
  // color: #fff !important;
  cursor: not-allowed !important;
  pointer-events: all !important;
}
